/adb_helper/test
/adb_helper/adb_helper
/adb_helper/adbhelper
/adb_helper/packages.txt
/adb_helper/.vs/adbhelper/v15
/adb_helper/x64/Debug
/adb_helper/adbhelper.vcxproj.user
/adb_helper/adbhelper.vcxproj.filters
/adb_helper/adbhelper.vcxproj
/adb_helper/adbhelper.sln
